ROOT_DIR=/usr/src/app/dist/apps/risk-operation
PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=risk-operation
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=mypassword123
POSTGRES_SYNCHRONIZE=false

KAFKA_BROKERS=kafka:9092
KAFKA_BROKER_SSL=false

TRADE_DIRECTORY_URL=trade-directory-service
NOTIFICATION_URL=notification-service
FRONTEND_DOMAIN=http://localhost:3000

GENERAL_FILE_UPLOAD_BUCKET=general-file-upload.new-horizons-system.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=

REGION=your-region-code