BASE_URL=http://localhost:3001

E2E_ADMIN_EMAIL=admin@sqf.local
E2E_ADMIN_PASSWORD=Admin@1234
E2E_ADMIN_ORG=Synlian

E2E_UNKNOWN_EMAIL=nobody-does-not-exist@sqf.local
E2E_WRONG_PASSWORD=WrongPassword999
