ROOT_DIR=/usr/src/app/dist/apps/customer-relationship-management
PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=customer-relationship-management
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=9AhzypvO17x5TtWIxhVSpmFO
POSTGRES_SYNCHRONIZE=false

KAFKA_BROKERS=kafka:9092
KAFKA_BROKER_SSL=false

TRADE_DIRECTORY_URL=trade-directory-service
FRONTEND_DOMAIN=http://localhost:3000