ROOT_DIR=/usr/src/app/dist/apps/document-management
PORT=3000

KAFKA_BROKERS=kafka:9092
KAFKA_BROKER_SSL=false

FRONTEND_DOMAIN=http://localhost:3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=document-management
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_SYNCHRONIZE=true

NODE_ENV=development

HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=

DEEP_SEEK_URL=https://api.deepseek.com
DEEP_SEEK_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-southeast-1

DOCUMENT_EXTRACTION_BUCKET_NAME=dev-document-extraction.sqf.ai