@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/charts/styles.css';
@import 'mantine-react-table/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family:
    'SfProRegular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'sans-serif',
    'Manrope',
    'Dm Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}
