.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5rem;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 2.25rem;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.revokeButton {
  color: red;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}
