ROOT_DIR=/usr/src/app/dist/apps/notification
PORT=3000

KAFKA_BROKERS=kafka:9092
KAFKA_BROKER_SSL=false

FRONTEND_DOMAIN=http://localhost:3000

EMAIL_HOST=email-smtp.ap-southeast-1.amazonaws.com
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASS=